h1{
    background-color: black;
    color: white;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0;
}

h6{
    background-color: black;
    color: white;
    font-size: medium;
    padding-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
}

.white {
    color: white;
}

.no-line{
    text-decoration: none;
    color: white;
}
.no-line2{
    text-decoration: none;
    color: black;
}
.gray{
    color:gray;
}

.bold{
    font-weight:bold;
}

.sign{
    color: black; 
    background-color: white;
     margin-left: 70%;
     cursor: pointer;
     border: 0;
     border-radius: 4px;
     font-weight: 600;
     /* margin: 0 10px; */
     width: 200px;
     padding: 10px 0;
     box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
     transition: 0.4s;
}